.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  color: black;
}

body {
  background-image: url(images/Galaxy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  margin: 0;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
