.CurrentWeatherData .current-weather-container {
  margin-bottom: 20px;
}

ul {
  margin: 0 auto;
  padding: 0 auto;
}

li {
  margin: 0 auto;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.current-weather-img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.current-weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.current-weather-temperature .units {
  position: relative;
  padding: 5px;
  font-size: 16px;
  top: -34px;
}

.current-weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.current-weather-temperature .active:hover {
  color: #dbddf2;
  text-decoration: none;
}

#celsius,
#fahrenheit {
  color: rgb(33, 33, 33);
  text-decoration: none;
  position: relative;
}
